CVS/
.svn/
/.idea/
/bin/
/target/
/build/
/output/
/Debug/
/Release/
/x86/
/x64/
/obj/
/node_modules/
/pkg/
/run/
/log/
/logs/
/test-output/
.mtj.tmp/
/reports/
/_site/
.apt_generated/
package-lock.json
config.gypi
npm-debug.log
.npmrc
.sass-cache
.jekyll-metadata
Gemfile.lock
packer_cache/
*.log
*.bak
.~*
._*
.cache*
.*.swp
*.md.html
hs_err_pid*
